<!-- PROFILE PAGE FOR INDIVIDUAL PETS -->
<!-- SELECTED FROM LIST OF RESULTS    -->

<div class="container">
  <header class="col-8">
    <h1><a href="/?">WuvR</a></h1>
  </header>

  <div class="col-4">
    <nav>
      <ul>
        <li class="nav"><a href="/profile"><h4>My Profile</h4></a></li>
        <li class="nav"><a href="/logout"><h4>Log Out</h4></a></li>
      </ul>
    </nav>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-8 push-2">
      <div id="map"></div>
    </div>
  </div>
</div>

  

<div class="result"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDntNQvZ1AMlJwJDnwycxyLWJcJvZUmCfk&libraries=places&libraries=geometry"></script>

